@import "tailwindcss";


@theme{
    --color-primary-500:#ce7041;
    --color-primary-200:#eed2ba;
    --color-primary-100:#f7eadd;
    --color-primary-600:#bf5a36;
    --color-primary-700:#9f462f;
    --color-primary-800:#803a2c;
    --color-primary-900:#683226;
    --color-primary-950:#381712;

    
}

/* body{
    background-color: #2a2a2a;
} */



/* {
    50: "#fcf6f0",
    100: "#f7eadd",
    200: "",
    300: "#e3628e",
    400: "#d78d60",
    500: "#ce7041",
    600: "#bf5a36",
    700: "#9f462f",
    800: "#803a2c",
    900: "#683226",
    950: "#381712",
} */